@import 'global';
@import 'animations';
.heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 50px !important;
    .head-content{
        h4{
            color: #474141;
            font-weight: 700;
            font-size: 20px;
            line-height: 2rem;
            margin-bottom: 15px;
        }
        p{
            color: #BEBEBE;
            font-size: 15px;
            font-weight: 500;
            line-height: 2rem;
            margin: 0px;
        }
    }
    .see-more{
        display: flex;
        align-items: center;
        align-content: center;
        img{
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
        span{
            color: #C4AEA3;
            font-size: 16px;
            font-weight: 700;
            line-height: 2rem;
            margin-right: 15px;
        }
    }
    .fliter-content{
        display: flex;
        align-items: center;
        align-content: center;
        button , a {
            width: 40px;
            height: 40px;
            border: 1px solid;
            border-radius: 5px;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            outline: none;
            img{
                width: 90%;
                height: 90%;
                object-fit: contain;
            }
            &:first-child{
                border-color: #996E77 ;
            }
            &:last-child{
                margin-right: 10px;
                border-color: #C4AEA3;
            }
        }
        a{
            img{
                width: 70%;
                height: 70%;
            }
        }
    }
}
.product-box{
    width: 100%;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s linear;
    .image-content{
        width: 100%;
        height: 150px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
        .fav , .code{
            position: absolute;
            top: 10px;
            z-index: 9;
        }
        .fav{
            width: 24px;
            height: 24px;
            object-fit: contain;
            left: 10px;
        }
        .code{
            padding: 5px 15px;
            background-color: #474141;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            border-radius: 10px;
            right: 10px;
        }
    }
    .content{
        width: 100%;
        padding: 15px 15px 15px 15px;
        .heading{
            color: #474141;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 0px !important;
            line-height: 2rem;
        }
        p{
            color: #BEBEBE;
            font-size: 14px;
            line-height: 2rem;
            margin: 10px 0px;
            font-weight: 500;
        }
        h5{
            color: #474141;
            font-size: 20px;
            line-height: 2rem;
            margin-bottom: 15px !important;
        }
        .add-card{
            padding: 10px 15px;
            width: fit-content;
            position: relative;
            z-index: 9;
            border: 1px solid #C4AEA3;
            border-radius: 7px;
            margin: auto;
            display: block;
            overflow: hidden;
            background-color: transparent;
            outline: none;
            span{
                color: #C4AEA3;
                font-size: 15px;
                font-weight: 500;
            }
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #C4AEA3;
                top: 0;
                left: 0;
                z-index: -1;
                transform: scale(0, 1);
                transform-origin: left;
                transition: transform 500ms ease;
            }
            &:hover{
                border-color: transparent !important;
                span{
                    color: #fff;
                }
                &::after{
                    transform: scale(1 , 1);
                    transform-origin: right;
                }
            }
        }
    }
    &:hover{
        transform: translateY(-10px);
        .add-card{
            border-color: transparent !important;
            span{
                color: #fff;
            }
            &::after{
                transform: scale(1 , 1);
                transform-origin: right;
            }
        }
    }

}
.popup-window , .popup-sort{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999 !important;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    visibility: hidden;

    .popup-overlay{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .6);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 600ms ease-in-out;
    }
    .popup {
        width:350px;
        height:280px;
        padding:30px 20px;
        position: relative;
        z-index: 99;
        background:#f5f5f5;
        border-radius:10px;
        box-sizing:border-box;
        z-index:2;
        text-align:center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        opacity:0;
        transform: translateY(-10px) scale(0.5);
        transition: opacity 300ms ease-in-out,
                    top 1000ms ease-in-out,
                    transform 1000ms ease-in-out;
        .desc{
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            margin: 20px 0px;
            color: #BEBEBE;
        }
        
        .icon {
            margin:5px 0px;
            width:50px;
            height:50px;
            border:2px solid #C4AEA3;
            text-align:center;
            display:inline-block;
            border-radius:50%;
            line-height:60px;
            i.fa {
                font-size:30px;
                color:#C4AEA3;
            } 
        }
        .title {
            margin:5px 0px;
            font-size:30px;
            font-weight:600;
            color: #474141;
        }
        .dismiss-btn {
            margin-top:15px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .sort-head{
            color: #1D2323;
            font-size: 18px;
            line-height: 2rem;
            margin-bottom: 15px;
            font-weight: 700;
        }
        .sort-desc{
            color: #BEBEBE;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .form-check{
            width: 100%;
            padding: 0px !important;
            .wrapper{
                width: 100%;
                padding: 15px 0px;
                border-bottom: 1px solid #F2F2F2;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: flex-start;
                .radio-check{
                    appearance: none;
                    -webkit-appearance: none;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 1px solid #C4AEA3;
                    background-color: #fff;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    &::after{
                        content: '\f00c';
                        width: 25px;
                        height: 25px;
                        background-color: #C4AEA3;
                        border-radius: 50%;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        transform: scale(0);
                        transition: all .4s linear;
                        top: 0;
                        left: 0;
                    }
                    &:checked{
                        &::after{
                            transform: scale(1);
                        }
                    }
                }
                .radio-title{
                    color: #474141;
                    font-size: 18px;
                    font-weight: 500;
                    margin: 0px 10px 0px 0px;
                }
                &:last-child{
                    border: none;
                }
            }
        }
        .accept-changes{
            padding: 10px 50px;
            width: fit-content;
            position: relative;
            z-index: 9;
            border: 1px solid #C4AEA3;
            background-color: #C4AEA3 !important;
            border-radius: 7px;
            margin: auto;
            display: block;
            overflow: hidden;
            outline: none;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #fff;
                top: 0;
                left: 0;
                z-index: -1;
                transform: scale(0, 1);
                transform-origin: left;
                transition: transform 500ms ease;
            }
            &:hover{
                color: #C4AEA3;
                &::after{
                    transform: scale(1 , 1);
                    transform-origin: right;
                }
            }
        }
        .dismiss-popup-btn {
            padding: 10px 50px;
            width: fit-content;
            position: relative;
            z-index: 9;
            border: 1px solid #C4AEA3;
            border-radius: 7px;
            margin: auto;
            display: block;
            overflow: hidden;
            background-color: transparent;
            outline: none;
            color: #C4AEA3;
            font-size: 15px;
            font-weight: 500;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #C4AEA3;
                top: 0;
                left: 0;
                z-index: -1;
                transform: scale(0, 1);
                transform-origin: left;
                transition: transform 500ms ease;
            }
            &:hover{
                border-color: transparent !important;
                color: #fff;
                &::after{
                    transform: scale(1 , 1);
                    transform-origin: right;
                }
            }
        }
        &> div {
            position:relative;
            top:10px;
            opacity:0;
        }
    }
    &.active {
        visibility: visible;
        .popup-overlay{
            opacity: 1;
            visibility: visible;
        }
        .popup {
            opacity:1;
            transform: translateY(0px) scale(1);
            transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
            &> div , p {
                top:0px;
                opacity:1;
            }
            .icon {
                transition: all 300ms ease-in-out 250ms;
            }
            .title  {
                transition: all 300ms ease-in-out 300ms;
            }
            .dismiss-btn {
                transition: all 300ms ease-in-out 400ms;
            }
        }
       
    }
}
.buttons-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    .custom-bg-btn{
        padding: 10px 50px;
        width: fit-content;
        position: relative;
        z-index: 9;
        border: 1px solid #C4AEA3;
        background-color: #C4AEA3 !important;
        border-radius: 7px;
        display: block;
        overflow: hidden;
        outline: none;
        color: #fff;
        font-size: 15px;
        margin: 0px 10px !important;
        font-weight: 500;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            top: 0;
            left: 0;
            z-index: -1;
            transform: scale(0, 1);
            transform-origin: left;
            transition: transform 500ms ease;
        }
        &:hover{
            color: #C4AEA3;
            &::after{
                transform: scale(1 , 1);
                transform-origin: right;
            }
        }
    }
    .custom-border-btn{
        padding: 10px 50px;
        width: fit-content;
        position: relative;
        z-index: 9;
        border: 1px solid #C4AEA3;
        border-radius: 7px;
        display: block;
        overflow: hidden;
        background-color: transparent;
        outline: none;
        color: #C4AEA3;
        font-size: 15px;
        font-weight: 500;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #C4AEA3;
            top: 0;
            left: 0;
            z-index: -1;
            transform: scale(0, 1);
            transform-origin: left;
            transition: transform 500ms ease;
        }
        &:hover{
            border-color: transparent !important;
            color: #fff;
            &::after{
                transform: scale(1 , 1);
                transform-origin: right;
            }
        }
    }
}
.popup-sort{
    .popup{
        height: fit-content !important;
        background-color: #fff !important;
        .dismiss-popup-btn {
            margin-right: 10px;
        }
    }
}


.navbar{
    width: 100%;
    padding: 10px 0px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba($color: #C4AEA3 , $alpha: .5);
    z-index: 9999 !important;
    &.store-nav{
        background-color: transparent !important;
        box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: 0);
        position: absolute !important;
    }
    .head{
        color: #474141;
        font-weight: 700;
        font-size: 17px;
        line-height: 2rem;
        margin: 0px !important;
        width: calc(100% - 25px);
        text-align: center;
        display: block;
        span{
            color: #C4AEA3;
            display: block;
        }
    }
    .nav-content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .nav-toggler{
            width: 40px;
            height: 23px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            margin-left: 10px !important;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            display: flex !important;
            span{
                display: block;
                height: 3px;
                width: 100%;
                background: #C4AEA3;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                position: relative;
                &:first-child{
                    width: 50%;
                    margin-right: auto;
                }
                &:last-child{
                    width: 50%;
                }
            }
            &.active{
                span{
                    &:nth-child(1) {
                        width: 100%;
                        top: 14px;
                        transform: rotate(124deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        width: 100%;
                        top: -5px;
                        transform: rotate(-135deg);
                    }
                }
            }
        }
        .brand-name{
            img{
                width: 120px;
                height: 70px;
                object-fit: contain;
    
            }
        }
        .nav-list{
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 89px;
            left: 0;
            visibility: hidden;
            .overlay{
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: .6);
                opacity: 0;
                visibility: hidden;
                transition: all .4s linear;
            }
            .navbar-nav{
                width: 350px;
                height: 100vh;
                padding-bottom: 30px;
                position: absolute;
                overflow-y: scroll;
                overflow-x: hidden;
                top: 0px;
                right: -100%;
                transition: all .2s linear;
                background: url('../images/bg.svg') #fff;
                background-position: bottom left;
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 9;
                .user-profile{
                    width: 100%;
                    padding: 40px 15px;
                    background: url('../images/nav_patterrn.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    .user-link{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        align-content: center;
                        img{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                            object-position: center;
                        }
                        .content{
                            margin-right: 20px;
                            h5{
                                font-size: 12px;
                                font-weight: 500;
                                color: #fff;
                                line-height: 14px;
                                margin-bottom: 10px;
                            }
                            h6{
                                font-size: 15px;
                                font-weight: 700;
                                line-height: 2rem;
                                color: #fff;
                                margin: 0px !important;
                            }
                        }
                    }
                }
                .nav-item{
                    width: 100%;
                    padding: 10px 15px;
                    border-bottom: 1px solid #F5F5F5;
                    .nav-link{
                        width: 100%;
                        display: flex;
                        img{
                            width: 24px;
                            height: 24px;
                            object-fit: contain;
                            filter: invert(71%) sepia(10%) saturate(488%) hue-rotate(336deg) brightness(99%) contrast(89%);
                        }
                        span{
                            margin-right: 10px;
                            font-size: 18px;
                            color: #474141;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .icon-list{
            display: flex;
            align-items: center;
            align-content: center;
            li{
                a{
                    img{
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                    }
                }
                &:last-child{
                    margin-right: 20px;
                }
            }
        }
    }
    .back-btn{
        img{
            width: 24px;
            height: 24px;
            object-fit: contain;
            object-position: center;

        }
    }
}
.mob-nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999 !important;
    background-color: #C4AEA3;
    display: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    .nav-item{
        .nav-link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            img{
                width: 24px;
                height: 24px;
                object-fit: contain;
                margin-bottom: 10px;
                opacity: .5;
                filter: invert(95%) sepia(96%) saturate(18%) hue-rotate(296deg) brightness(104%) contrast(100%);
            }
            span{
                font-size: 15px;
                font-weight: 500;
                color: #fff;
                opacity: .5;
            }
            &.active{
                img , span{
                    opacity: 1;
                }
            }
        }
    }
}
.active-nav{
    visibility: visible !important;
    .overlay{
        opacity: 1 !important;
        visibility: visible !important;
    }
    .navbar-nav{
        right: 0px !important;
    }
}
.header-content , .project-details{
    width: 100%;
    padding: 120px 0px 30px 0px;
    img{
        width: 100%;
        height: 500px;
        border-radius: 20px;
        object-fit: cover;
    }
    .owl-carousel .owl-stage{
        padding: 0px;
    }
}
.form-content{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    .textarea{
        height: 100px !important;
        align-items: flex-start;
        .input-group-text{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
            padding: 9px ​20px 0px 20px !important;
            img{
                margin-top: 10px !important;
            }
        }
    }
    textarea{
        resize: none;
    }
    .form-group{
        width: 100%;
    }
    .from-check{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        margin-left: 10px;
        text-align: center;
        input[type="checkbox"] , input[type="radio"]{
            appearance: none;
            -webkit-appearance: none;
            &:checked{
                &::after{
                    transform: scale(1);
                }
                &+span{
                    color: #fff;
                }
            }
        }
        .size-lable{
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            align-content: center;
            border: 1px solid #C4AEA3;
            position: relative;
            margin: 0px;
            justify-content: center;
            border-radius: 5px;
            z-index: 99;
            span{
                color: #C4AEA3;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .size-check{
            width: 50px;
            height: 50px;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #C4AEA3;
                top: 0;
                left: 0;
                border-radius: 4px;
                z-index: -1;
                transform: scale(0);
                transition: all .4s linear;
            }
        }
        .color-check{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            margin: auto;
            &::after{
                content: '\f00c';
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: #fff;
                font-size: 18px;
                transform: scale(0);
                transition: all .4s linear;
            }
        }
        .color-lable{
            font-weight: 500;
            font-size: 15px;
            margin: 10px 0px 0px;
            color: #1D2323;
        }
        &:last-child{
            margin: 0px;
        }
    }
    .image-content{
        width: 100px;
        height: 100px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
        }
        .from-image-upload{
            position: absolute;
            bottom: 0;
            right: 0px;
        }
        input[type="file"]{
            display: none;
        }
        .pen{
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: #fff;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 10px rgba($color: #474141 , $alpha: .10);
            i{
                color: #474141;
                font-size: 15px;
            }
        }
    }
    .password{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        i{
            color: #996E77;
        }
    }
}
.edit-information{
    width: 100%;
    padding: 100px 0px 20px 0px;
    .brand-name{
        width: 100%;
        display: flex;
        img{
            width: 200px;
            height: 80px;
            object-fit: contain;
            margin: auto;
        }
    }
}
.banner{
    width: 100%;
    padding: 30px 0px;
    img{
        width: 100%;
        height: 400px;
        border-radius: 20px;
        object-fit: cover;
    }
}
.project-details{
    .item{
        position: relative;
        img{
            height: 300px;
            object-fit: contain;
            object-position: center;
        }
        .code{
            padding: 5px 15px;
            background-color: #474141;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            border-radius: 10px;
            right: 10px;
            width: fit-content;
        }
    }
    .content{
        width: 100%;
        padding: 20px 0px;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #f2f2f2;
        h4{
            color: #474141;
            font-size: 18px;
            font-weight: 700;
            line-height: 2rem;
        }
        .brand-content{
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            margin: 30px 0px;
            .brand-shape{
                width: fit-content;
                padding: 10px 15px;
                background-color: #996E77;
                border-radius: 10px;
                color: #fff;
                font-weight: 700;
                font-size: 17px;
                margin-left: 10px;
            }
            .brand-logo{
                display: flex;
                align-items: center;
                align-content: center;
                li{
                    position: relative;
                    margin: 0px 10px;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        left: -10px;
                        background-color: #C4C4C4;
                        top: 0px;
                    }
                    &:last-child{
                        &::after{
                            display: none;
                        }
                    }
                    img{
                        width: 80px;
                        height: 30px;
                        object-position: center;
                        object-fit: contain;
                    }
                }
            }    
        }
        .product-rate{
            display: flex;
            align-items: center;
            align-content: center;
            .rate{
                display: flex;
                align-items: center;
                align-content: center;
                li{
                    margin: 0px 5px;
                    i{
                        font-size: 20px;
                        color: #E5E5E5;
                        transition: all .3s linear;
                    }
                    &:hover , &.active{
                        i{
                            color: #C4AEA3;
                        }
                    }
                }
            }
            .rate-link{
                margin-right: 15px;
                color: #474141;
                font-size: 15px;
                font-weight: 700;
                span{
                    margin-right: 5px;
                    color: #C4AEA3;
                }
            }
        }
    }
    .color-select{
        padding: 20px 0px;
        h4{
            color: #474141;
            font-weight: 700;
            font-size: 18px;
            line-height: 2rem;
            margin-bottom: 20px;
        }
        &.sizes{
            border-top: 1px solid #f2f2f2;
            border-bottom: 1px solid #f2f2f2;
        }
    }
    .description{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4{
            color: #474141;
            font-size: 18px;
            font-weight: 700;
            line-height: 2rem;
        }
        p{
            color: #1D2323;
            font-weight: 500;
            font-size: 14px;
            line-height: 2rem;
            text-align: justify;
            margin: 20px 0px;
        }
    }
   
}
.product-desc{
    padding: 20px 0px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #f2f2f2;
    h4{
        color: #474141;
        font-size: 18px;
        font-weight: 700;
        line-height: 2rem;
    }
    .product-desc-list
    {
        margin-top: 20px;
        width: 100%;
        li{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            margin-bottom: 20px;
            .title , .desc{
                color: #474141;
                font-size: 17px;
                font-weight: 700;
            }
        }
    }
}
.store-header{
    width: 100%;
    padding: 150px 0px 40px 0px;
    background-size: cover !important;
    background-position: center !important; 
    background-repeat: no-repeat !important;
    position: relative;
    z-index: 99;
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        .image-content{
            margin-bottom: 15px;
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }
        h4{
            color: #474141;
            font-size: 18px;
            font-weight: 700;
            line-height: 2rem;
            margin: 0px;
        }
        .desc{
            color: #BEBEBE;
            font-size: 14px;
            font-weight: 500;
            margin: 20px 0px;
            line-height: 30px;
        }
        .num{
            font-size: 14px;
            font-weight: 700;
            color: #474141;
            margin-bottom: 20px;
        }  
        .location{
            display: flex;
            align-items: center;
            align-content: center;
            img{
                width: 24px;
                height: 24px;
                object-fit: contain;
                margin-left: 10px;
            }
            h4{
                
                color: #474141;
                font-size: 18px;
                font-weight: 700;
                line-height: 2rem;
                margin: 0px;
            }
            p{
                color: #C4AEA3;
                font-size: 15px;
                font-weight: 700;
                line-height: 30px;
                margin: 0px;
            }
        } 
    }
    .buttons-content{
        background-color: rgba($color: #C4C4C4 , $alpha: .10);
        padding: 20px 10px;
        border-radius: 10px;
        width: fit-content;
        margin: auto;
    }
}
.products{
    width: 100%;
    padding-top: 140px;
    padding-bottom: 20px;
}
.shop{
    width: 100%;
    padding: 40px 0px;
    &.stores{
        padding: 100px 0px 40px 0px;
    }
    .box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        position: relative;
        transition: all .4s linear;
        img{
            width: 111px;
            height: 111px;
            border-radius: 5px;
            object-fit: contain;
        }
        h4{
            color: #474141;
            font-size: 18px;
            font-weight: 700;
            margin: 20px 0px 0px 0px;
            line-height: 2rem;
        }
        &:hover{
            transform: translateY(-10px);
        }
    }
}
.product{
    width: 100%;
    padding: 40px 0px;
    .nav{
        justify-content: center;
        align-items: center;
        margin: auto;
        width: fit-content;
        border: 1px solid #C4AEA3;
        overflow: hidden;
        border-radius: 7px;
        .nav-item{
            .nav-link{
                padding: 15px 30px;
                background-color: #fff;
                border-radius: 0px;
                border: 0px !important;
                display: flex;
                align-items: center;
                align-content: center;
                position: relative;
                z-index: 99;
                img{
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    filter: invert(73%) sepia(20%) saturate(258%) hue-rotate(335deg) brightness(99%) contrast(79%);
                }
                span{
                    color: #C4AEA3;
                    font-size: 15px;
                    margin-right: 10px;
                    font-weight: 500;
                    line-height: 2rem;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: #C4AEA3;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transform: scale(0, 1);
                    transform-origin: left;
                    transition: transform 500ms ease;
                }
                &.active , &:hover{
                    border: 0px !important;
                    img{
                        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(287deg) brightness(103%) contrast(106%);
                        animation: tada 1.5s both;
                    }
                    span{
                        color: #fff;
                    }
                    &::after{
                        transform: scale(1 , 1);
                        transform-origin: right;
                    }
                }
            }
        }
    }
    .header-content{
        padding: 0px !important;
    }
    .box{
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
        border-radius: 6px;
        transition: all .4s linear;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover !important;
            object-position: center;
        }
        .content{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            a{
                width: 50px;
                height: 50px;
                margin: 0px auto 60px;
                img{
                    width: 50px;
                    height: 50px;
                    margin: 0px auto 10px;
                    object-fit: contain;
                }
            }
            
            p{
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                line-height: 2rem;
                margin-bottom: 10px;
            }
        }
        &:hover{
            transform: translateY(-10px);
        }
    }
}
.form-content{
    .input-group{
        position: relative;
        height: 50px;
        background-color: #fff;
        border: 1px solid #C4AEA3;
        border-radius: 6px;
        overflow: hidden;
        .input-group-prepend{
            border: none;
            padding: 0px 0px;
            height: 100%;
            background-color: transparent;
            border-radius: 0px;
            .input-group-text{
                padding: 0px 20px;
                background-color: transparent;
                height: 100%;
                border: none;
                border-radius: 0px;
                img{
                    width: 25px;
                    height: 25px;
                    object-fit: contain;
                }
            }
        }
        .form-control{
            border: 0px !important;
            background-color: transparent !important;
            height: 100%;
            color: #474141;
            font-size: 15px;
            font-weight: 500;
            &::placeholder{
                color: #474141;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    .wrapper{
        width: 100%;
        padding: 15px 0px;
        border-bottom: 1px solid #F2F2F2;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        .radio-check{
            appearance: none;
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid #C4AEA3;
            background-color: #fff;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &::after{
                content: '\f00c';
                width: 25px;
                height: 25px;
                background-color: #C4AEA3;
                border-radius: 50%;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                transform: scale(0);
                transition: all .4s linear;
                top: 0;
                left: 0;
            }
            &:checked{
                &::after{
                    transform: scale(1);
                }
            }
        }
        .radio-title{
            color: #474141;
            font-size: 18px;
            font-weight: 500;
            margin: 0px 10px 0px 0px;
            span{
                color: #C4AEA3;
                font-size: 18px;
                font-weight: 500;
                margin: 0px 10px 0px 0px;
            }
        }
        &:last-child{
            border: none;
        }
    }
    .stars-content{
        width: 100%;
        display: flex;
        justify-content: center;
        .star-rating {
            display:flex;
            flex-direction: row-reverse;
            font-size:2em;
            justify-content:space-around;
            padding:0 .2em;
            text-align:center;
            width:5em;
        }
          
        .star-rating input {
            display:none;
        }
          
        .star-rating label {
            color:#E5E5E5;
            cursor:pointer;
        }
          
        .star-rating :checked ~ label {
            color:#C4AEA3;
        }
          
        .star-rating label:hover,
        .star-rating label:hover ~ label {
            color:#C4AEA3;
        }
    }
    .custom-btn{
        padding: 10px 50px !important;
        width: fit-content;
        height: 50px;
        position: relative;
        z-index: 9;
        border: 1px solid #C4AEA3 !important;
        border-radius: 7px;
        margin: auto;
        display: block;
        overflow: hidden;
        background-color: #C4AEA3 !important;
        outline: none;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        margin: 0px 10px !important;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #fff;
            top: 0;
            left: 0;
            z-index: -1;
            transform: scale(0, 1);
            transform-origin: left;
            transition: transform 500ms ease;
        }
        &:hover{
            border-color: transparent !important;
            color: #C4AEA3;
            &::after{
                transform: scale(1 , 1);
                transform-origin: right;
            }
        }
        
    }
    .flex-content{
        display: flex;
        align-items: center;
        align-content: center;
        width: 100%;
        justify-content: space-between;
        .wrapper{
            border: none;
        }
        .form-input{
            margin: 0px 5px;
        }
        &.payment-content{
            justify-content: flex-start;
            p{
                color: #AFADAD;
                font-size: 15px;
                font-weight: 500;
                margin: 0px;
            }
            img{
                width: 100px;
                height: 30px;
                object-fit: contain;
                margin-right: 10px;
            }
        }
    }
    .form-data-content{
        width: 100%;
        padding: 20px 0px;
        margin: 20px 0px;
    }
    .form-data{
        padding: 20px 0px;
        margin: 20px 0px;
        width: 100%;
        border-top: 1px solid #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        h4{
            color: #474141;
            font-size: 18px;
            font-weight: 700;
            line-height: 2rem;
            margin-bottom: 20px;
        }
    }
    .form-input{
        width: 100%;
        height: 50px;
        .form-control{
            width: 100%;
            height: 50px;
            background-color: rgba($color: #C4C4C4 , $alpha: .10);
            border: none !important;
            border-radius: 7px;
            &::placeholder{
                color: #BEBEBE;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
    .head{
        width: 100%;
        h3{
            color: #474141;
            font-size: 18px;
            font-weight: 700;
            line-height: 2rem;
            margin-bottom: 20px;
        }
    }
    .check-data{
        width: 100%;
        .check-content{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: center;
            padding: 20px 15px;
            background-color: rgba($color: #C4C4C4 , $alpha: .10);
            border-radius: 10px;
            border: 1px solid rgba($color: #C4C4C4 , $alpha: .10);
            .radio-check{
                &:checked{
                    &~ .check-content{
                        border-color: #C4AEA3 !important;
                    }
                }
            }
            .content{
                margin-right: 10px;
                h4{
                    color: #474141;
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                p{
                    color: #AFADAD;
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0px !important;
                }
            }
        }
    }
}
.search-content{
    width: 100%;
    padding: 150px 0px 0px 0px; 
    .input-group{
        background-color: rgba($color: #C4C4C4 , $alpha: .10);
        border: none;
    } 
}
.fixed-btn{
    width: 100% !important;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    li{
        height: 50px;
        text-align: center;
        &.delete{
            width: 120px;
            background-color: #F55656;
            &.price{
                background-color: #C4AEA3 !important;
                border-left: 1px solid #F2F2F2 !important;
            }
        }
        &.accept{
            width: calc(100% - 120px);
            background-color: #C4AEA3;
            &.add-comment{
                width: 100%;
            }
        }
        a , span , button{
            width: 100%;
            height: 100%;
            font-weight: 700;
            font-size: 15px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            background-color: transparent;
            padding: 0px;
            outline: none;
            border: none;
        }
    }
}
.filter-search{
    width: 100%;
    padding: 100px 0px 0px 0px;
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        border: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #C4C4C4, $alpha: .10);
        .nav-item{
            width: 100%;
            text-align: center;
            background-color: transparent;
            .nav-link{
                width: 100%;
                padding: 20px 0px;
                text-align: center;
                background-color: transparent;
                border: none;
                border-radius: 0px;
                color: #000000;
                font-weight: 500;
                font-size: 15px;
                border-bottom: 1px solid #F2F2F2 !important;
                &.active , &:hover{
                    border: none;
                    background-color: #fff;
                    border-radius: 0px;
                    color: #000000;
                    font-weight: 500;
                    font-size: 15px;
                }
                &:last-child{
                    border: none;
                }
            }
        }
    }
}
.rate-content{
    width: 100%;
    padding: 100px 0px;
    .rate-box{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
        align-content: center;
        border-bottom: 1px solid #f2f2f2;
        .image-content{
            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }
        .content{
            width: calc(100% - 110px);
            .heading{
                width: 100%;
                display: flex;
                margin-bottom: 0px !important;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                h4{
                    color: #C4AEA3;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 2rem;
                    margin: 0px;
                }
                .rate{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    li{
                        margin: 0px 5px;
                        i{
                            font-size: 20px;
                            color: #E5E5E5;
                            transition: all .3s linear;
                        }
                        &:hover , &.active{
                            i{
                                color: #C4AEA3;
                            }
                        }
                    }
                }

            }
            p{
                margin: 10px 0px;
                color: #1D2323;
                font-size: 14px;
                font-weight: 500;
                line-height: 2.7rem;
            }
        }
    }
}
.brands{
    width: 100%;
    padding: 100px 0px;
    .brand-box{
        width: 100%;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        align-content: center;
        background-color: rgba($color: #C4C4C4 , $alpha: .06);
        img{
            width: 100px;
            height: 60px;
            object-fit: contain;
            margin: 0px 0px 0px 10px;
        }
        h4{
            padding: 0px 20px;
            border-right: 1px solid #f2f2f2;
            color: #474141;
            font-weight: 500;
            font-size: 17px;
            margin: 0px !important;
        }
    }
}
.cart-contain{
    width: 100%;
    padding: 150px 0px 50px 0px;
    .cart{
        width: 100%;
        .cart-box{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            width: 100%;
            background-color: rgba($color: #C4C4C4 , $alpha: .10);
            border-radius: 10px;
            padding: 15px 20px;
            .image-content{
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                }
            }
            .content{
                width: calc(100% - 120px);
                .heading{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    h4{
                        color: #474141;
                        font-weight: 700;
                        font-size: 18px;
                        margin: 0px;
                    }
                    .delete{
                        img{
                            width: 24px;
                            height: 24px;
                            object-fit: contain;

                        }
                    }
                }
                .brand-item{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    margin: 20px 0px;
                    img{
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                        margin-left: 10px;
                    }
                    p{
                        color: #BEBEBE;
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0px;
                    }
                }
                .number{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    p{
                        color: #1D2323;
                        font-size: 17px;
                        margin: 0px 20px;
                        font-weight: 500;
                        line-height: 2rem;
                    }
                    .num-count{
                        img{
                            width: 24px;
                            height: 24px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    .flex-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin: 20px 0px;
    }
    .custom-btn{
        padding: 10px 50px !important;
        width: 100%;
        height: 50px;
        position: relative;
        z-index: 9;
        border: 1px solid #C4AEA3 !important;
        border-radius: 7px;
        margin: auto;
        display: block;
        overflow: hidden;
        background-color: #fff !important;
        outline: none;
        color: #C4AEA3;
        font-size: 15px;
        font-weight: 500;
        margin: 0px 10px !important;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #C4AEA3;
            top: 0;
            left: 0;
            z-index: -1;
            transform: scale(0, 1);
            transform-origin: left;
            transition: transform 500ms ease;
        }
        &:hover{
            border-color: transparent !important;
            color: #fff;
            &::after{
                transform: scale(1 , 1);
                transform-origin: right;
            }
        }
        
    }
}
.profile-data{
    width: 100%;
    padding: 40px 0px 40px 0px;
    .nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
        padding: 10px 0px;
        background: url('../images/bg.svg') #fff;
        background-position: bottom left;
        background-size: cover;
        background-repeat: no-repeat;
        .nav-item{
            width: 100%;
            padding: 20px 0px;
            border-bottom: 1px solid #F5F5F5;
            
            &:last-child{
                border: none;
            }
            .nav-link{
                border: none;
                position: relative;
                z-index: 9;
                width: 100%;
                img{
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                }
                span{
                    margin-left: 10px;
                    font-size: 15px;
                    font-weight: 500;
                    color: #474141 !important;
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    background: url('../images/left_arrow.svg');
                    top: calc(50% - 12px);
                    left: 10px;
                    z-index: -1;
                }
                &:hover , &.active{
                    border: none !important;

                }
            }
        }
    }
}